<head>
	    
</head>

<body>
	<div class="container pdf">
		
	<div class="row result-title">
	  <div class="col-sm-12">
	  	<h2>The decision you should make is:</h2>
	   		<h2 style='border-radius: 25px; border:2px #5bdb99 solid; font-size:26px; width:fit-content; width:-webkit-fit-content; width:-moz-fit-content; padding: 10px;'><%= @decision_name %></h2>
	  </div>
	</div>

	<div class="row result-info">
		<div class="col-sm-8">
			<h3>Why, you may ask?</h3>
			<p><h4>Because the decision to * <strong><%= @decision_name %></strong> * will result in the highest possible net gain. Your net gain will be an average of <%= number_to_currency(@max)%>. Despite how high the initial costs, by analyzing the expected value along with those costs, this would be the most efficient option.</h4></p>
			<p><%= link_to "Download analysis in PDF", result_decision_user_problem_path(@user, @problem, format: "pdf")%></p>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
	  		<tr>
			    <th>Decisions &nbsp; &nbsp; &nbsp;</th>
			    <th>Total Expected Value</th>
			    <th>Net Gain</th>
			  </tr>
			  
			  <% @decision.each do |decision| %>
			  	 <% associated_cost = decision.associated_cost %>
			  	 <% favorable_probability = decision.favorable_probability.to_f %>
			  	 <% unfavorable_probability = decision.unfavorable_probability.to_f %>
			  	 <% favorable_result = decision.favorable_result %>
			  	 <% unfavorable_result = decision.unfavorable_result %>

				  <tr>
				    <td><%= decision.title %></td>
				    <td><%= number_to_currency(((decision.favorable_probability.to_f/100) * decision.favorable_result.to_f) + ((decision.unfavorable_probability.to_f/100) * decision.unfavorable_result.to_f))%></td>
				    <td><%= number_to_currency((((decision.favorable_probability.to_f/100) * decision.favorable_result.to_f) + ((decision.unfavorable_probability.to_f/100) * decision.unfavorable_result.to_f)) - decision.associated_cost.to_f) %></td>
				  </tr>
			  <% end %>
		</table>
	</div>
	
	</div>
</body>