<div class="modal fade" id="problemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center">Add a business problem you're facing</h4>
      </div>
      <div class="modal-body" style="text-align:center; margin:10px;">

          <div class="row">
            <div class="col-md-12">
              <%= form_for @new_problem, url: user_problems_path(@user, @new_problem), html: { method: :post } do |f|%>

                <div class="col-sm-4">
                  <%= f.label(:title, "Title *", class: "control-label", style: "float:left;") %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :title, placeholder:"Give your problem a title", class: "form-control", style: "margin:2px;" %>
                </div>

                <div class="col-sm-4">
                  <%= f.label(:description, "Description *", class: "control-label", style: "float:left;") %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :description, placeholder:"Describe your problem a little", class: "form-control", style: "margin:2px;"  %>
                </div>
                
                <div class="col-sm-3">
                  <%= f.label(:category, "Category *", class: "control-label", style: "float:left;") %>
                </div>
                <div class="col-sm-9">
                  <%= f.select(:category, ['Decision Tree Tool','Break Even Analysis','Crossover Analysis'], style:"margin:3px; float:left;")%><br>
                </div>
              
                <%= f.submit "Add Problem", class: "btn btn-primary col-sm-6", style: "margin:3px;"%>
                <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>