<div class="container">
	<div class="row result-title">
	  <div class="col-sm-12">
	  	<h2>The decision you should make is:</h2>
			
	    <h2 style='border-radius: 25px; border:2px #5bdb99 solid; font-size:26px; width:fit-content; width:-webkit-fit-content; width:-moz-fit-content; padding: 10px;'><%= @lowest_total_cost.title %></h2>
	  </div>
	</div>

	<div class="row result-info">
		<div class="col-sm-8">

			<p><h4>Because the decision to * <strong><%= @lowest_total_cost.title %></strong> * will result in the best overall cost for your company. Your total cost will be <%= number_to_currency((@lowest_total_cost.units * @lowest_total_cost.variable_cost)+@lowest_total_cost.fixed_cost) %> and because of your desire to sell <%= @lowest_total_cost.units %>, this is the best option for you. Notice how despite how high or how low your fixed costs and variable costs are, when factoring in those numbers along with the amount of units you intend to sell, your total cost varies and is the most important number to look at.</h4></p>
			
			<p><h4>Crossover Analysis is useful for deciding which decision would be the most cost efficient. By evaluating the total cost of each decision, it is always best to follow through with the decision that has the <i>lowest</i> total cost.</h4></p>

			<p><%= link_to "Download analysis in PDF", user_problem_crossover_path(@user, @problem, @crossover, format: "pdf"), style: "color:black;"%></p>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
	  		<tr>
			    <th>Decisions &nbsp; &nbsp; &nbsp;</th>
			    <th>Units</th>
			    <th>Total Cost</th>
			    <th>Fixed Cost</th>
			    <th>Variable Cost</th>
			  </tr>
			  
			  <% @crossover.each do |crossover| %>

				  <tr>
				    <td><%= crossover.title %></td>
				    <td><%= crossover.units %></td>
				    <td><%= number_to_currency((crossover.units*crossover.variable_cost) + crossover.fixed_cost) %></td>
				    <td><%= number_to_currency(crossover.fixed_cost) %></td>
				    <td><%= number_to_currency(crossover.variable_cost) %></td>
				  </tr>
			  <% end %>
		</table>
	</div>
</div>
